#container{
    background-color: rgba(255, 255, 255, 0.718);
    height: auto;
    width: 600px;
    margin-top: 170px;
    margin-left: 450px;
    border-radius: 25px;
}
img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 270px;
    margin-bottom: 30px;
}
body{
    background-image: url("https://wallpaperaccess.com/full/302495.jpg");
}
input{
    margin-left: 50px;
    width: 500px;
    height: 25px;
    border-radius: 100px ;
    border-color: rgba(240, 248, 255, 0);
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
label{
    padding-left: 50px;
    font-size: 25px;
}
#get{
    margin-left: 200px;
    height: 30px;
    width: 200px;
    margin-top: 30px;
    border-radius: 100px;
    background-color: white;
    border-color: rgba(240, 248, 255, 0);
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 5px gray;
}
#ans
{
    list-style: none;
    padding-left:100px ;
    padding-bottom: 50px;
    font-size: 20px;
}
li{
    padding-top: 15px;
}
#top{
    background-color: rgba(255, 255, 255, 0.718);
    margin-top: 0px;
    height: 50px;
    border-radius: 10px;
}
button{
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-family: 'Times New Roman';
    font-style: italic;
    background-color: rgba(240, 248, 255, 0);
    border-color: rgba(240, 248, 255, 0);
    padding-top: 0px;

    display: inline;
}
#logo{
    margin-top: 10px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    text-align:  left;
    float: left;
}
#home{
    margin-left: 680px;
    width: 100px;
}
#text{
    margin-top: 15px;
    float: left;
    font-size: 20px;
    padding-left: 10px;
}