.container{
   /* border: 5px solid rgb(116, 253, 136);*/
    width:500px;
    margin-left: 470px;
    margin-top: 210px;
    background-color: rgb(235, 235, 235);
    opacity: 0.9;
    height: 330px;
    border-radius: 25px;
}
.image{
    margin-top:10px;
    margin-left: 43%;
    margin-bottom: 20px;
    border-radius: 50px;
}
form{
    padding:10px;
}
input[type=text],input[type=password]
{
    margin-left: 50px;
    margin-top:5px;
    width: 400px;
    height:25px;
    border-bottom-style:2px solid black;
    border-top-color:rgba(111, 111, 111, 0);
    border-left-color:rgba(111, 111, 111, 0);
    border-right-color:rgba(111, 111, 111, 0);
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
}
button{
    margin-top:20px;
    margin-left: 145px;
    width: 200px;
    height:30px ;
    background-color: rgb(255, 255, 255);
    border-color: rgba(240, 248, 255, 0);
    border-radius: 100px;
    box-shadow: 3px 3px 3px 3px gray;
}
input[type=checkbox]
{
    margin-left:50px ;
    margin-top: 10px;
}
#lab
{
    margin-right:170px;
    margin-left: 1px;
    margin-top: 5px;
}
body{
    background-image: url("https://wallpapers.com/images/hd/hd-black-fence-photography-jkc698hbdflxha1j.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#fpwd{
    color: black;
    float: right;
    padding-right: 50px;
    padding-top: 15px;
}
#username{
    padding-left: 50px;
}
#password{
    padding-left: 50px;
}
p{
    padding-left: 50px;
    color: rgb(7, 138, 2);
    float: left;
 }
 #ref{
    color: rgb(251, 2, 2);
}